

/* -----------first row css ----------- */


#first-row {
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/woods-wallpaper.jpg);
    background-attachment: fixed;
    color: #FFF;
    font-family: "Lato", sans-serif;
}

#first-row h1 {
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 300;
}

#first-row p {
    color: #ddd;
    margin-bottom: 50px;
}

.greeting-text{
    text-align: center;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.custom-nav-link {
    color: inherit !important;
    font-weight: 300;
    letter-spacing: 1px;
}

.custom-nav-link:hover {
    color: inherit;
}

.thin-text {
    font-weight: 300;
}

/* -----------first row css ----------- */


/* -----------second row css ----------- */

#second-row {
    text-align: center;
}

#second-row h2 {
    color: inherit;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 1.1;
}

#second-row p {
    line-height: 1.7;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 16px;
    max-width: 800px;
    box-sizing: border-box;
    color: #000;
}

#second-row .tldr {
    background: #f0f0f0;
    color: #555;
    max-width: 800px;
}

.tldr h3 {
    font-weight: 300;
    font-size: 22px;
    color: #111;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}

.tldr h5 {
    font-weight: 300;
    font-size: 14px;
    color: #111;
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: 0.5px;
}



/* -----------second row css ----------- */



/* -----------third row css ----------- */

#third-row {
    background-color: #F0F0F0;
    margin-top: 100px;
}

#third-row h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30px;
}

.img-background {
    background-color: 	#023020;
    height: 175px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.img-con {
    margin-bottom: 50px;
}

#third-row svg {
    fill: white;
    height: 64px;
}

#third-row h3 {
    font-weight: 400;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}

#third-row p {
    font-size: 15px;
    max-width: 80%;
    line-height: 1.7;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

/* -----------third row css ----------- */



/* -----------fourth row css ----------- */

.icons {
    height: auto;
    width: 5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

#fourth-row h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 1.1;
}

#fourth-row p {
    font-size: 16px;
    padding-bottom: 40px;
    max-width: 800px;
    margin: auto;
    line-height: 1.7;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

#fourth-row h3 {
    font-weight: 300;
    font-size: 22px;
    color: #111;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5rem;
}

/* -----------fourth row css ----------- */




/* -------testing stuff------------ */
body {
    height:500vh;
}


